<!DOCTYPE html>
<html>

<head><title>Schedule</title></head>

<body>

{% if error %}
	<h5> Error! Please enter a new schedule </h5>
{% endif %}

<h3>Current Schedule:</h3>

<h5>Even:</h5>
{% if d.e1s %}
	<p>Zone 1: {{ d.e1s }} - {{ d.e1f }}</p>
{% endif %}

{% if d.e2s %}
	<p>Zone 2: {{ d.e2s }} - {{ d.e2f }}</p>
{% endif %}

{% if d.e3s %}
	<p>Zone 3: {{ d.e3s }} - {{ d.e3f }}</p>
{% endif %}

{% if d.e4s %}
	<p>Zone 4: {{ d.e4s }} - {{ d.e4f }}</p>
{% endif %}

{% if d.e5s %}
	<p>Zone 5: {{ d.e5s }} - {{ d.e5f }}</p>
{% endif %}

{% if d.e6s %}
	<p>Zone 6: {{ d.e6s }} - {{ d.e6f }}</p>
{% endif %}

<br>

<h5>Odd:</h5>
{% if d.o1s %}
	<p>Zone 1: {{ d.o1s }} - {{ d.o1f }}</p>
{% endif %}

{% if d.o2s %}
	<p>Zone 2: {{ d.o2s }} - {{ d.o2f }}</p>
{% endif %}

{% if d.o3s %}
	<p>Zone 3: {{ d.o3s }} - {{ d.o3f }}</p>
{% endif %}

{% if d.o4s %}
	<p>Zone 4: {{ d.o4s }} - {{ d.o4f }}</p>
{% endif %}

{% if d.o5s %}
	<p>Zone 5: {{ d.o5s }} - {{ d.o5f }}</p>
{% endif %}

{% if d.o6s %}
	<p>Zone 6: {{ d.o6s }} - {{ d.o6f }}</p>
{% endif %}

<br>

<h3>New Schedule:</h3>
<form action="/" method="post">
<!--<p>Username:<input type="text" name="input_username"></p>
<p>Password:<input type="password" name="input_password"></p> -->
<br>
<h5>Even:</h5>
<p>Zone 1:<input type="time" name="input_e1s"><input type="time" name="input_e1f"></p>
<p>Zone 2:<input type="time" name="input_e2s"><input type="time" name="input_e2f"></p>
<p>Zone 3:<input type="time" name="input_e3s"><input type="time" name="input_e3f"></p>
<p>Zone 4:<input type="time" name="input_e4s"><input type="time" name="input_e4f"></p>
<p>Zone 5:<input type="time" name="input_e5s"><input type="time" name="input_e5f"></p>
<p>Zone 6:<input type="time" name="input_e6s"><input type="time" name="input_e6f"></p>
<br>
<h5>Odd:</h5>
<p>Zone 1:<input type="time" name="input_o1s"><input type="time" name="input_o1f"></p>
<p>Zone 2:<input type="time" name="input_o2s"><input type="time" name="input_o2f"></p>
<p>Zone 3:<input type="time" name="input_o3s"><input type="time" name="input_o3f"></p>
<p>Zone 4:<input type="time" name="input_o4s"><input type="time" name="input_o4f"></p>
<p>Zone 5:<input type="time" name="input_o5s"><input type="time" name="input_o5f"></p>
<p>Zone 6:<input type="time" name="input_o6s"><input type="time" name="input_o6f"></p>
<br>
<input type="submit" value="Submit">
</form>



</body>

</html>

